---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
  theme: SITE.defaultTheme,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <!-- hero with a background video -->
  <div class="relative bg-black" style="height: 100vh; width: 100vw;">
    <video class="block dark:hidden absolute top-0 left-0 w-full h-full object-cover" autoplay muted loop playsinline>
      <source
        src="https://github-production-user-asset-6210df.s3.amazonaws.com/1907/238642712-42176c0e-7cc2-41d6-a340-f1e23ea973dc.mp4"
        type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'
      />
      <img src="/assets/videos/1-output-3000.jpg" />
    </video>
    <video class="hidden dark:block absolute top-0 left-0 w-full h-full object-cover" autoplay muted loop playsinline>
      <source
        src="https://github-production-user-asset-6210df.s3.amazonaws.com/1907/238642855-7e407d65-2dad-4993-b3c3-5eb6510ab94f.mp4"
        type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'
      />

      <img src="/assets/videos/dark-1-output-3000.jpg" />
    </video>
    <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
      <div class="text-center bg-slate-100 bg-opacity-80 rounded-md p-6 dark:bg-slate-900 dark:bg-opacity-80">
        <h1 class="text-5xl font-bold text-gray-800 dark:text-blue-200">
          Applied <span class="text-blue-900 dark:text-blue-100">Geo + AI</span>
        </h1>
        <p class="mt-4 text-xl text-grey-800 font-light dark:text-gray-100">
          We solve <span class="font-medium">high impact problems</span> for our customers with applied <span
            class="font-medium">Geospatial</span
          > and <span class="font-medium">AI</span> technologies.<br />We build geospatial data pipelines, train,
          deploy, monitor and retrain Geo AI models.
        </p>
        <!-- button call to action get in touch -->
        <a
          href="#contact"
          class="mt-5 inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-blue-900 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        >
          Get in touch
        </a>
      </div>
    </div>
  </div>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    title="Geo + AI"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Problem Definition</span>',
        description:
          'When starting a Geo + AI project, the first step is to define the problem you want to solve. Some examples of problems that can be solved with Geo + AI are: <ul class="list-disc list-inside text-muted dark:text-slate-400"><li>Ideal location for a new store</li><li>Optimize the delivery routes of a fleet of vehicles</li><li>Identify the best location for a new windfarm.</li></ul>',
        icon: 'tabler:question-mark',
      },
      {
        title: 'Step 2: <span class="font-medium">Data inventory</em>',
        description:
          'We help you find the right data sources for the problem you want to solve. This step is crucial to ensure that the data you have is enough to solve the problem. ',
        icon: 'tabler:package',
      },
      {
        title: 'Step 3: <span class="font-medium">Feature Engineering</span>',
        description:
          'Feature engineering is the process of transforming raw data into features that better represent the underlying problem to the predictive models, resulting in improved model accuracy on unseen data.',
        icon: 'tabler:square-plus',
      },
      {
        title: 'Model Training',
        description:
          'We help you to train your model. We can train your model using your own infrastructure or using our cloud infrastructure.',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/ship.jpg'),
      alt: 'Steps image',
    }}
  /> -->

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Geo Data Engineering"
    subtitle="We help you to build your own geospatial data pipeline"
    highlight="Components"
    items={[
      {
        title: 'Headers',
        description:
          'In general, Headers contain information that makes it easier for visitors to interact with the website.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Display your product in action and how the Features actually create a solution for your target customer.',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Content',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'icon-park:page-template',
      },
    ]}
  /> -->

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Read our blog"
    information={`We blog about our work and investigations into emerging trends in our industry. The blog is a great place to learn more about our work and how we can help you.`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Duis turpis dui, fringilla mattis sem nec, fringilla euismod neque. Morbi tincidunt lacus nec tortor scelerisque pulvinar."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What do I need to start?',
          answer:
            'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
        },
        {
          question: 'How to install the Astro + Tailwind CSS template?',
          answer:
            "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.",
        },
        {
          question: "What's something that you don't understand?",
          answer:
            "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
        },
      ],
      [
        {
          question: "What's an example of when you changed your mind?",
          answer:
            "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
        },
        {
          question: 'What is something that you would like to try again?',
          answer:
            "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
        },
        {
          question: 'If you could only ask one question to each person you meet, what would that question be?',
          answer:
            "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
        },
      ],
    ]}
  /> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    items={[
      { name: 'Downloads', value: '132K' },
      { name: 'Stars', value: '24.8K' },
      { name: 'Forks', value: '10.3K' },
      { name: 'Users', value: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Grab it now',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:download',
    }}
  >
    <Fragment slot="title">
      GeoAI<br class="block sm:hidden" /> <span class="sm:whitespace-nowrap">Report</span>
    </Fragment>

    <Fragment slot="subtitle">
      Get the latest report on the state of the geospatial artificial Intelligence industry.
    </Fragment>
  </CallToAction>
</Layout>
